*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 70px 20px 32px;
    background-color: #fff;
}
.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
    padding: 0;
    width: 20px;
    height: 17px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.menu-button__line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 20px;
}
.logo {
    margin-right: 59px;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 830px;
    width: 50%;
    padding-right: 17px;
    background-color: #EBEBEB;
    border-radius: 22px;
}
.input-search {
    width: 100%;
    padding: 12px 23px;
    background-color: transparent;
    border: none;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon-search {
    fill: #000;
}
.icons__link {
    text-decoration: none;
}
.icons__link:hover {
    opacity: 0.7;
}
.icons__link:not(:last-child) {
    margin-right: 50px;
}
.icons__link svg {
    fill: #000;
    opacity: 0.24;
}
.user {
    margin-left: 45px;
}
.user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*sidebar*/
.sidebar {
    position: fixed;
    left: 0;
    top: 114px;
    width: 15%;
    height: calc(100% - 114px);
    padding-left: 32px;
    background-color: #fff;
    overflow-y: auto;
}
.nav-menu {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover .icon {
    fill: #FF0000;
    opacity: 1;
}
.nav-item svg {
    fill: #000;
    opacity: 0.24;
    z-index: -1;
}
.nav-text {
    margin-left: 13px;
}
.nav-title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.subscriptions-menu .nav-item {
    margin-bottom: 23px;
}
.nav-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

/*content*/
.content {
    margin-top: 85px;
    padding-left: 18%;
    width: 100%;
}