*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 70px 20px 32px;
    background-color: #fff;
    z-index: 99;
}
.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
    padding: 0;
    width: 20px;
    height: 17px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.menu-button__line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 20px;
}
.logo {
    margin-right: 59px;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 830px;
    width: 50%;
    margin-right: 40px;
    padding-right: 17px;
    background-color: #EBEBEB;
    border-radius: 22px;
}
.input-search {
    width: 100%;
    padding: 12px 23px;
    background-color: transparent;
    border: none;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon-search {
    fill: #000;
}
.icons__link {
    text-decoration: none;
}
.icons__link:hover {
    opacity: 0.7;
}
.icons__link:not(:last-child) {
    margin-right: 50px;
}
.icons__link svg {
    fill: #000;
    opacity: 0.24;
}
.user {
    margin-left: 45px;
}
.user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*sidebar*/
.sidebar {
    position: fixed;
    left: 0;
    top: 114px;
    width: 235px;
    height: calc(100% - 114px);
    padding-left: 32px;
    background-color: #fff;
    overflow-y: auto;
}
.nav-menu {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover .icon {
    fill: #FF0000;
    opacity: 1;
}
.nav-item svg {
    fill: #000;
    opacity: 0.24;
}
.nav-text {
    margin-left: 13px;
}
.nav-title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.subscriptions-menu .nav-item {
    margin-bottom: 23px;
}
.nav-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

/*content*/
.content {
    margin-top: 85px;
    padding-top: 30px;
    padding-left: 255px;
    width: 100%;
}
.channel {
    position: relative;
    margin-bottom: 49px;
}
.channel__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    width: 83%;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}
.channel__rec {
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2; 
}
.channel__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-second .channel__text {
    margin-left: 0;
}
.channel__text {
    margin-left: 20px;
    margin-right: 20px;
}
.subscribe {
    position: absolute;
    top: 0;
    right: 170px;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF0000;
    border: none;
    border-radius: 20px;
}
.video-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 14px;
    cursor: pointer;
}
.channel-first__slider .video-thumb,
.channel-third__slider .video-thumb {
    width: 250px;
    height: 150px;
}
.channel-second__slider .video-thumb {
    width: 540px;
    height: 250px;
}
.trumbnail {
    width: 100%;
    object-fit: cover;
}
.channel-first__slider .trumbnail,
.channel-third__slider .trumbnail {
    width: 250px;
    height: 150px;
}
.channel-second__slider .trumbnail {
    width: 540px;
    height: 250px;
}
.video-duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 3px 9px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
}
.video-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}
.video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-info__counter {
    display: flex;
}
.views {
    margin-right: 5px;
}
.views::after {
    display: inline-block;
    content: "";
    margin-left: 5px;
    width: 2px;
    height: 2px;
    vertical-align: middle;
    background-color: #C2C2C2;
}
.channel-first__slider .swiper-slide,
.channel-third__slider .swiper-slide {
    width: 250px;
}
.channel-second__slider .swiper-slide,
.channel-second__slider .video-card {
    width: 540px;
}
.slider-buttons {
    position: absolute;
    right: 70px;
    top: 0;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}
.channel-second .slider-buttons {
    top: -9px;
}
.channel-button {
    cursor: pointer;
}
.channel-button .icon:hover {
    opacity: 0.7;
}
.mobile-sidebar,
.mobile-search {
    display: none;
}

@media (max-width: 1160px) {
    .channel__rec {
        flex: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 860px) {
    .icons {
        display: none;
    }
    .user {
        margin-right: auto;
    }
    .subscribe {
        top: 90px;
        left: 0;
        right: 0;
    }
    .channel-third .channel__title {
        margin-bottom: 77px;
    }
}

@media (max-width: 640px) {
    .menu-button,
    .sidebar,
    .slider-buttons {
        display: none;
    }
    .channel {
        margin-bottom: 120px;
    }
    .content {
        padding-left: 16px;
        padding-right: 16px;
    }
    .mobile-sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        background-color: #fff;
        z-index: 99;
    }
    .mobile-sidebar .nav-link {
        display: flex;
        flex-direction: column;
    }
    .mobile-sidebar .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #F1F1F1;
    }
    .mobile-sidebar .nav-text {
        margin-left: 0;
        font-size: 10px;
        line-height: 13px;
    }
    .mobile-sidebar .nav-item {
        margin-bottom: 0;
    }
    .mobile-sidebar .nav-item svg {
        margin-bottom: 5px;
    }
    .header {
        padding: 12px 16px;
    }
    .input-group {
        position: fixed;
        top: -100px;
        left: -3px;
        opacity: 0;
        width: 83%;
        margin-left: 16px;
        transition: top 0.2s;
    }
    .input-group.is-open {
        top: 13px;
        opacity: 1;
    }
    .mobile-search {
        display: block;
        margin-left: auto;
    }
    .user {
        margin-right: 0;
        margin-left: 20px;
    }
    .slider-buttons {
        right: 16px;
    }
    .channel__title {
        width: 100%;
    }
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
    .swiper-slide:not(:last-child) {
        margin-bottom: 40px;
    }
    .channel-first__slider .swiper-slide,
    .channel-third__slider .swiper-slide,
    .channel-second__slider .swiper-slide,
    .channel-second__slider .video-card {
        width: 100%;
    }
    .channel-first__slider .video-thumb,
    .channel-third__slider .video-thumb,
    .channel-second__slider .video-thumb {
        width: 100%;
        height: 300px;
    }
    .channel-first__slider .trumbnail,
    .channel-third__slider .trumbnail,
    .channel-second__slider .trumbnail {
        width: 100%;
        height: 300px;
    }
}